<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/svgFiles.twig" %}
    <header>
        {% include "../includes/header/navbar.twig" %}
        {% include "../includes/header/jumbotron.twig" %}
        {% include "../includes/header/flightChoose.twig" %}
    </header>
    {% include "../includes/main/main.twig" %}
    {% include "../includes/semantics/footer.twig" %}
</body>

</html>
