<div class="c-main-menu">
    <div class="c-main-menu__logo">
        <svg class="icon c-facebook-logo">
            <use xlink:href="#c-facebook-logo"></use>
        </svg>
    </div><!-- /.c-main-menu__logo -->
    <ol class="c-main-menu__list">
        <li class="c-main-menu__list-header">
            <h3>Menu</h3>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-newspaper-icon">
                    <use xlink:href="#c-newspaper-icon"></use>
                </svg>
                News
            </a>
            <svg class="l-icon c-more-icon u-float-right">
                <use xlink:href="#c-more-icon"></use>
            </svg>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-message-icon">
                    <use xlink:href="#c-message-icon"></use>
                </svg>
                Messages
            </a>
            <span class="c-badge">8</span>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-user-icon">
                    <use xlink:href="#c-user-icon"></use>
                </svg>
                Friends
            </a>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-communities-icon">
                    <use xlink:href="#c-communities-icon"></use>
                </svg>
                Communities
            </a>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-event-icon">
                    <use xlink:href="#c-event-icon"></use>
                </svg>
                Events
            </a>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-pages-icon">
                    <use xlink:href="#c-pages-icon"></use>
                </svg>
                Pages
            </a>
        </li>
        <li class="c-main-menu__list-item">
            <a href="" class="u-block">
                <svg class="l-icon c-box-icon">
                    <use xlink:href="#c-box-icon"></use>
                </svg>
                Manage apps
            </a>
        </li>
    </ol><!-- /.c-main-menu__list -->
    <ol class="c-main-menu__list">
        <li class="c-main-menu__list-header">
            <h3>Shortcuts</h3>
        </li>
        <li class="c-main-menu__list-item"><a href=""><svg class="l-icon c-google-g-logo">
                    <use xlink:href="#c-google-g-logo"></use>
                </svg> Google</a></li>
        <li class="c-main-menu__list-item"><a href=""><svg class="l-icon c-y_combinator_logo">
                    <use xlink:href="#c-y_combinator_logo"></use>
                </svg> Y Combinator</a></li>
        <li class="c-main-menu__list-item"><a href=""><svg class="l-icon c-amazon-smile-logo">
                    <use xlink:href="#c-amazon-smile-logo"></use>
                </svg> Amazon</a></li>
    </ol><!-- /.c-main-menu__list -->
</div><!-- /.c-main-menu -->
