<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/menu.twig" %}
    {% include "../includes/chats/chat.twig" %}
    {% include "../includes/chats/chat-search.twig" %}
    {% include "../includes/chats/chat-navbar.twig" %}
    {% include "../includes/chats/chat-users.twig" %}
    {% include "../includes/main/bottom-menu.twig" %}
    {% include "../includes/main/popup.twig" %}
</body>

</html>
