<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/menu.twig" %}
    {% include "../includes/friend-list/friend-list-navbar.twig" %}
    {% include "../includes/friend-list/friend-list-users.twig" %}
    {% include "../includes/main/bottom-menu.twig" %}
    {% include "../includes/main/popup.twig" %}
</body>

</html>
