<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/menu.twig" %}
    {% include "../includes/music/music-navbar.twig" %}
    {% include "../includes/music/music-featured.twig" %}
    {% include "../includes/music/music-spotlight.twig" %}
    {% include "../includes/music/music-week-chart.twig" %}
    {% include "../includes/music/music-suggested-artist.twig" %}
    {% include "../includes/music/music-sidebar.twig" %}
    {% include "../includes/main/bottom-menu.twig" %}
    {% include "../includes/main/popup.twig" %}
</body>

</html>
