<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/menu.twig" %}
    {% include "../includes/user-profile/user-profile-header.twig" %}
    {% include "../includes/user-profile/user-profile-content.twig" %}
    {% include "../includes/main/bottom-menu.twig" %}
    {% include "../includes/main/popup.twig" %}
</body>

</html>
