<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="footer__logo"></div>
                    <svg class="icon icon-logo footer__logo-icon">
                        <use xlink:href="#icon-logo"></use>
                    </svg>
                    <div class="footer__logo-text">Copyright © Atolye15<br>All rights reserved</div>
                </div>
                <div class="col-6 col-md-3">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <h3 class="footer__header">PRODUCTS</h3>
                        </li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Features">Features</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Personal License">Personal License</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Business License">Business License</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Pricing Options">Pricing Options</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <h3 class="footer__header">ABOUT</h3>
                        </li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="About">About</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Careers">Careers</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Blog">Blog</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <h3 class="footer__header">SUPPORT</h3>
                        </li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Support Center">Support Center</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="Help Desk">Help Desk</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link" title="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
