<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    {% include "../general-components/menus/main-menu.twig" %}
    {% include "../specific-components/chat/chat-message-area.twig" %}
    {% include "../general-components/search-boxes/chat-search.twig" %}
    {% include "../general-components/navbars/navbar.twig" %}
    {% include "../general-components/lists/user-card.twig" %}
    {% include "../general-components/menus/bottom-fixed-menu.twig" %}
    {% include "../general-components/popups/popup.twig" %}
</body>

</html>
