<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    <div class="u-hidden">{% include "../general-components/svgs.twig" %}</div><!-- /.u-hidden -->
    <div class="row">
        <div class="col-md-3">
            {% include "../general-components/menus/main-menu.twig" %}
        </div><!-- /.col-md-3 -->
        <div class="col-md-9">
            {% include "../general-components/navbars/navbar.twig" %}
            <div class="row">
                <div class="col-md-3">
                    {% include "../general-components/post/share-post.twig" %}
                    {% include "../general-components/post/post.twig" %}
                </div><!-- /.col-md-3 -->
                <div class="col-md-9">
                    {% include "../specific-components/feed/feed-right-sidebar.twig" %}
                </div><!-- /.col-md-9 -->
            </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
    </div>
    {% include "../general-components/menus/bottom-fixed-menu.twig" %}
    {% include "../general-components/popups/popup.twig" %}
</body>

</html>
