<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/main/menu.twig" %}
    {% include "../includes/feed/feed-navbar.twig" %}
    {% include "../includes/post/post-share.twig" %}
    {% include "../includes/post/post.twig" %}
    {% include "../includes/feed/feed-sidebar.twig" %}
    {% include "../includes/main/bottom-menu.twig" %}
    {% include "../includes/main/popup.twig" %}
</body>

</html>
