<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    {% include "../general-components/menus/main-menu.twig" %}
    {% include "../general-components/navbars/navbar.twig" %}
    {% include "../general-components/lists/user-list-rectangle.twig" %}
    {% include "../general-components/menus/bottom-fixed-menu.twig" %}
    {% include "../general-components/popups/popup.twig" %}
</body>

</html>
