<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    {% include "../general-components/menus/main-menu.twig" %}
    {% include "../general-components/navbars/navbar.twig" %}
    {% include "../specific-components/music/music-featured.twig" %}
    {% include "../specific-components/music/music-spotlight.twig" %}
    {% include "../specific-components/music/music-week-chart.twig" %}
    {% include "../specific-components/music/music-suggested-artist.twig" %}
    {% include "../specific-components/music/music-sidebar.twig" %}
    {% include "../general-components/menus/bottom-fixed-menu.twig" %}
    {% include "../general-components/popups/popup.twig" %}
</body>

</html>
