<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    {% include "../general-components/menus/main-menu.twig" %}
    {% include "../specific-components/user-profile/user-profile-header.twig" %}
    {% include "../specific-components/user-profile/user-photos-content.twig" %}
    {% include "../general-components/menus/bottom-menu.twig" %}
</body>

</html>
