<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "../includes/semantics/head.twig" %}
</head>

<body>
    {% include "../includes/user-profile/user-profile-photo-page.twig" %}
</body>

</html>
