<!DOCTYPE html>
<html lang="tr">

<head>
    {% include "./semantics/head.twig" %}
</head>

<body>
    <div class="u-hidden">{% include "../general-components/svgs.twig" %}</div><!-- /.u-hidden -->
    <div class="col-md-3">
        {% include "../general-components/menus/main-menu.twig" %}
    </div><!-- /.col-md-3 -->
    <div class="col-md-9">
        <div class="c-user-profile">
            {% include "../specific-components/user-profile/user-profile-header.twig" %}
            {% include "../specific-components/user-profile/user-profile-content.twig" %}
        </div><!-- /.c-user-profile -->
    </div><!-- /.col-md-9 -->
    {% include "../general-components/menus/bottom-menu.twig" %}
    {% include "../general-components/popups/popup.twig" %}
</body>

</html>
