<nav>
    <div class="c-navbar">    
        <a href="" class="c-navbar__link is-active">navbarItem1</a>
        <a href="" class="c-navbar__link c-main-link">navbarItem2</a>
        <a href="" class="c-navbar__link c-main-link">navbarItem3</a>
        <a href="" class="c-navbar__link c-main-link">navbarItem4</a>
        <a href="" class="c-navbar__link c-main-link">navbarItem5</a>
        <a href="" class="c-navbar__link c-main-link">navbarItem6</a>
    </div>
</nav>
