{% include "./user-profile-img-carousel.twig" %}
{% include "../post/post-share.twig" %}
<h3>Publications</h3>
{% include "../post/post.twig" %}
{% include "./user-social-info.twig" %}
{% include "./user-profile-sidebar.twig" %}