<div class="c-search-filter">

    <div class="row">
        <h3 class="u-font-bold u-border-bottom">Filter search results</h3>
        <svg class="icon c-filter-icon">
            <use xlink:href="#c-filter-icon"></use>
        </svg>
    </div>

    <div class="row">
        <div class="c-search-filter__element">
            <h3 class="u-font-bold">Posts from</h3>
            <a href="" class="c-link u-color-dark-sky-blue is-active">Anyone</a>
            <a href="" class="c-link u-color-dark-sky-blue">You</a>
            <a href="" class="c-link u-color-dark-sky-blue">Your friends</a>
            <a href="" class="c-link u-color-dark-sky-blue">Your groups</a>
            <a href="" class="c-link u-color-dark-sky-blue">Public</a>
            <a href="" class="c-link u-color-dark-sky-blue">Choose</a>
        </div><!-- /.c-search-filter__element -->
    </div>

    <div class="row">
        <div class="c-search-filter__element">
            <h3 class="u-font-bold">Post type</h3>
            <a href="" class="c-link u-color-dark-sky-blue is-active">All posts</a>
            <a href="" class="c-link u-color-dark-sky-blue">Posts you've seen</a>
        </div><!-- /.c-search-filter__element -->
    </div>
    
    <div class="row">
        <div class="c-search-filter__element">
            <h3 class="u-font-bold">Posted in group</h3>
            <a href="" class="c-link u-color-dark-sky-blue is-active">Any group</a>
            <a href="" class="c-link u-color-dark-sky-blue">Your groups</a>
            <a href="" class="c-link u-color-dark-sky-blue">Choose a group</a>
        </div><!-- /.c-search-filter__element -->
    </div>
    
    <div class="row">
        <div class="c-search-filter__element">
            <h3 class="u-font-bold">Tagged location</h3>
            <a href="" class="c-link u-color-dark-sky-blue is-active">Anywhere</a>
            <a href="" class="c-link u-color-dark-sky-blue">Saint Petersburg, Russia</a>
            <a href="" class="c-link u-color-dark-sky-blue">Moscow, Russia</a>
            <a href="" class="c-link u-color-dark-sky-blue">Choose a location</a>
        </div><!-- /.c-search-filter__element -->
    </div>
    
    <div class="row">
        <div class="c-search-filter__element">
            <h3 class="u-font-bold">Date posted</h3>
            <a href="" class="c-link u-color-dark-sky-blue is-active">Any date</a>
            <a href="" class="c-link u-color-dark-sky-blue">2018</a>
            <a href="" class="c-link u-color-dark-sky-blue">2017</a>
            <a href="" class="c-link u-color-dark-sky-blue">2016</a>
            <a href="" class="c-link u-color-dark-sky-blue">Choose a date</a>
        </div><!-- /.c-search-filter__element -->
    </div>

</div><!-- /.c-search-filter -->
