{% include "./user-profile-img-carousel.twig" %}
{% include "../../general-components/post/share-post.twig" %}
<h3>Publications</h3>
{% include "../../general-components/post.twig" %}
{% include "./user-social-info.twig" %}
{% include "./user-profile-sidebar.twig" %}