<section class="row">

    <div class="c-user-profile-content">

        <div class="row">
            <div class="c-user-profile-content__nav">
                <a href="" class="c-link u-color-dark-sky-blue is-active">Overview</a>
                <a href="" class="c-link u-color-dark-sky-blue">Work &amp; Education</a>
                <a href="" class="c-link u-color-dark-sky-blue">Details about Elon</a>
                <a href="" class="c-link u-color-dark-sky-blue">Life events</a>
            </div><!-- /.c-user-profile-content__nav -->
        </div>

        <div class="row">
            <div class="c-user-profile-content__info u-grid">
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-birthday-icon icon-2x"><use xlink:href="#c-birthday-icon"></use></svg></div>
                    <div class="c-card__header">
                        <h4>47 years</h4>
                        <h4 class="u-color-dark-sky-blue">June,28 1971</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-gps-icon"><use xlink:href="#c-gps-icon"></use></svg></div>
                    <div class="c-card__header">
                        <h4>Lives in</h4>
                        <h4 class="u-color-dark-sky-blue">Chalon Rd, Los Angeles, CA</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-briefcase-icon"><use xlink:href="#c-briefcase-icon"></use></svg></div>
                    <div class="c-card__header">
                        <h4>CEO</h4>
                        <h4 class="u-color-dark-sky-blue">SpaceX</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-user-icon-2"><use xlink:href="#c-user-icon-2"></use></svg></div>
                    <div class="c-card__header">
                        <h4>Relationships</h4>
                        <h4 class="u-color-dark-sky-blue">Single</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-instagram-logo"><use xlink:href="#c-instagram-logo"></use></svg></div>
                    <div class="c-card__header">
                        <h4>Instagram</h4>
                        <h4 class="u-color-dark-sky-blue">elonmusk</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><svg class="icon c-graduate-icon"><use xlink:href="#c-graduate-icon"></use></svg></div>
                    <div class="c-card__header">
                        <h4>Bachelor of Science in Physics</h4>
                        <h4 class="u-color-dark-sky-blue">University of Pennsylvania</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                
                <div class="c-card">
                    <div class="c-card__img"><img class="c-profile-pic c-profile-pic--circle" src="./assets/img/user-pics/christian-philips/profile-pic.png" alt="Christian Philips's profile picture"></div>
                    <div class="c-card__header">
                        <h4>Kimbal Musk</h4>
                        <h4 class="u-color-dark-sky-blue">Brother</h4>
                    </div>
                    <div class="c-card__content">
                        <img src="./assets/img/card-content.png" alt="">
                        <p class="u-color-greyish-brown-two">
                            SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.
                        </p>
                        <a href="" class="c-link">Read more</a>
                    </div>
                </div><!-- /.c-card -->
                

            </div>
        </div><!-- /.c-user-profile-content__info -->

    </div><!-- /.c-user-profile-content -->

</section>
