<div class="c-share-post">
    <span class="c-profile-pic--circle"></span>
    <input type="text" name="share-post" placeholder="What's on your mind?" class="c-share-post__input">
    <span class="c-share-post__media">
        <span class="c-share-post__add-media"></span>
        <span class="c-share-post__capture-image"></span><span class="c-share-post__capture-video"></span>
    </span>
</div>
