<div class="row">
    <div class="col">
        <div class="c-share-post">
            <img class="c-profile-pic c-profile-pic--circle" src="./assets/img/user-pics/{{ user-name-for-imgUrl }}/profile-pic.png" alt="{{ user-name }}'s profile picture">
            <input type="text" name="share-post" placeholder="What's on your mind?" class="c-share-post__input">
            <span class="c-share-post__media">
                <span class="c-share-post__media-item"><svg class="icon c-photo-icon">
                        <use xlink:href="#c-photo-icon"></use>
                    </svg><svg class="icon c-user-icon">
                        <use xlink:href="#c-user-icon"></use>
                    </svg><svg class="icon c-smile-icon">
                        <use xlink:href="#c-smile-icon"></use>
                    </svg></span>
                <span class="c-share-post__media-item"><svg class="icon c-camera-icon">
                        <use xlink:href="#c-camera-icon"></use>
                    </svg><svg class="icon c-video-icon">
                        <use xlink:href="#c-video-icon"></use>
                    </svg></span>
                <span class="c-share-post__media-item"><svg class="icon c-video-icon">
                        <use xlink:href="#c-video-icon"></use>
                    </svg></span>
            </span>
        </div>
    </div>
</div><!-- /.c-share-post -->
