<div class="flightChoose">
    <div class="container">
        <div class="row">
            <div class="col flightChoose__item">
                <svg class="icon icon-airplane-takeoff flightChoose__item-icon">
                    <use xlink:href="#icon-airplane-takeoff"></use>
                </svg>
                <select class="flightChoose__item-input">
                    <option value="from" selected>Nereden?</option>
                    <option value="opt1">Option 1</option>
                    <option value="opt2">Option 2</option>
                    <option value="opt3">Option 3</option>
                </select>
            </div>
            <div class="col flightChoose__item">
                <svg class="icon icon-airplane-landing flightChoose__item-icon">
                    <use xlink:href="#icon-airplane-landing"></use>
                </svg>
                <select class="flightChoose__item-input">
                    <option value="to" selected>Nereye?</option>
                    <option value="opt1">Option 1</option>
                    <option value="opt2">Option 2</option>
                    <option value="opt3">Option 3</option>
                </select>
            </div>
            <div class="col flightChoose__item">
                <svg class="icon icon-calendar-text flightChoose__item-icon">
                    <use xlink:href="#icon-calendar-text"></use>
                </svg>
                <input type="date" name="date" placeholder="Gidiş/Dönüş tarihi seç" class="flightChoose__item-input">
            </div>
            <div class="col flightChoose__item">
                <svg class="icon icon-account flightChoose__item-icon">
                    <use xlink:href="#icon-account"></use>
                </svg>
                <select class="flightChoose__item-input">
                    <option value="passanger" selected>Yolcu Seç</option>
                    <option value="opt1">Option 1</option>
                    <option value="opt2">Option 2</option>
                    <option value="opt3">Option 3</option>
                </select>
            </div>
            <div class="col flightChoose__item">
                <a href="#" class="btn btn--grey flightChoose__item-btn">
                    Yeniden Ara
                    <svg class="icon icon-magnify flightChoose__item-icon-search">
                        <use xlink:href="#icon-magnify"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
