<div class="container">
    <div class="row">
        <div class="col">
            <ul class="ticket-nav">
                <li class="ticket-nav__item is-active">
                    <div class="circle"><svg class="icon icon-airplane ticket-nav__item-icon">
                            <use xlink:href="#icon-airplane"></use>
                        </svg></div>
                    <div class="ticket-nav__item-text">Uçuş Seçimi</div>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-account ticket-nav__item-icon">
                        <use xlink:href="#icon-account"></use>
                    </svg>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-seat-recline-extra ticket-nav__item-icon">
                        <use xlink:href="#icon-seat-recline-extra"></use>
                    </svg>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                </li>
                <li class="ticket-nav__item">
                    <svg class="icon icon-credit-card ticket-nav__item-icon">
                        <use xlink:href="#icon-credit-card"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
    <div class="flght">
        <div class="row">
            <div class="col">
                <span class="flght__info">
                    <span class="flght__info-item">Ankara (ESB)</span>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-airplane card-bottom__icon" transform="rotate(90)">
                        <use xlink:href="#icon-airplane"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <svg class="icon icon-dot">
                        <use xlink:href="#icon-dot"></use>
                    </svg>
                    <span class="flght__info-item">İzmir (ADB)</span>
                </span>
                <ul class="flght-list">
                    <li class="flght-list__item">27 Eyl, Pzr - 08 Eki, Pts</li>
                    <li class="flght-list__item">
                        <svg class="icon icon-dot">
                            <use xlink:href="#icon-dot"></use>
                        </svg>
                    </li>
                    <li class="flght-list__item">1 Yetişkin</li>
                    <li class="flght-list__item">
                        <svg class="icon icon-dot">
                            <use xlink:href="#icon-dot"></use>
                        </svg>
                    </li>
                    <li class="flght-list__item">Gidiş - Dönüş</li>
                </ul>
            </div>
            <div class="col-4">
                <div class="flght__buy float-right">
                    <div class="flght__buy-text float-right">Toplam Tutar</div>
                    <div class="flght__buy-price">269.99 TL</div>
                    <a href="#" class="btn btn--yellow jumbotron-btn float-right">Devam et <svg class="icon icon-menu-right btn-arrow float-right">
                            <use xlink:href="#icon-menu-right"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>
