<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <svg class="icon icon-logo navbar__logo">
                    <use xlink:href="#icon-logo"></use>
                </svg>
            </div>
            <div class="col">
                <div class="navbar__item">
                    <svg class="icon icon-magnify main-search">
                        <use xlink:href="#icon-magnify"></use>
                    </svg>
                    <ul class="main-menu float-right">
                        <li class="main-menu__item"><a href="#" class="main-menu__link">Ana Sayfa</a></li>
                        <li class="main-menu__item"><a href="#" class="main-menu__link">Kampanyalar</a></li>
                        <li class="main-menu__item"><a href="#" class="main-menu__link">Bilet İşlemleri</a></li>
                        <li class="main-menu__item"><a href="#" class="main-menu__link">Yardım</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
