<div class="c-popup">
    <img class="c-profile-pic c-profile-pic--circle" src="./assets/img/user-pics/{{ user-name-for-imgUrl }}/profile-pic.png" alt="{{ user-name }}'s profile picture">
    <a href="" class="c-link u-font-bold">{{ popup-user-name }}</a>
    <small class="u-color-greyish-brown u-opacity-44">{{ popup-content}}</small>
    <svg class="icon c-close-icon"><use xlink:href="#c-close-icon"></use></svg>
</div>
